<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<style type="text/css">
			* {
				margin: 0;
				padding: 0;
			}

			.header a {
				flex: 1;
			}

			a {
				text-decoration: none;
			}

			.header .active {
				color: white;
				background: #31c27c;
			}
		</style>
	</head>
	<body>
		<div id="box" style="margin-bottom: 50px;">
			<div class="header" style="display: flex;text-align: center;line-height: 60px;">
				<a v-active href="#/">首页</a>
				<a v-active href="#/no2">排行榜</a>
				<a v-active href="#/no3">推荐歌单</a>
				<a v-active href="#/no4">歌手列表</a>
				<a v-active href="#/no5/0/0">播放列表</a>
			</div>

			<div style="padding: 0 100px;">
				<keep-alive>
					<router-view></router-view>
				</keep-alive>
			</div>

			<div style="position: fixed;bottom: 0;left: 50%;margin-left: -150px">
				<audio src="" controls="controls" autoplay="autoplay"></audio>
			</div>
		</div>

		<template id="no1">
			<div>
				<div style="text-align: right;">
					<input style="width: 30%;" type="text" placeholder="搜索" v-model="value" @keydown.enter="search">
				</div>
				<div v-if="type == false" style="min-height: 100px;margin: 30px 0;">
					<p style="font-size: 24px;color: black;padding: 5px 0;">热搜</p>
					<div>
						<span v-for="i in hot" style="color: black;line-height: 40px;margin: 0 10px 0 0;border: 1px solid black;border-radius: 12px;padding: 4px;text-align: center;"
						 @click="btn(i.k)">{{i.k}}</span>
					</div>
				</div>
				<div v-if="type == true">
					<p style="font-size: 24px;">搜索结果<span style="font-size: 18px;color: pink;margin-left: 20px;" @click="type=false">返回</span></p>
					<div v-for="i in arr" style="margin: 0 40px 0 40px;border-bottom: 1px solid black;line-height: 30px;">
						<a :href="'#/no5/'+ i.songmid +'/'+ i.songname ">{{i.songname}}</a>
					</div>
				</div>
			</div>
		</template>
		<template id="no2">
			<div style="overflow: hidden;">
				<p style="font-size: 24px;line-height: 40px;">排行榜</p>
				<div style="width: 250px;line-height: 40px;padding: 0 10px;float: left;">
					<p v-for="(i,$index) in arr" style="cursor: pointer;margin: 5px 0;" @click="index=$index">⭐{{i.topTitle}}</p>
				</div>

				<div v-for="(i,$index) in arr" style="float: left;" v-if="index==$index">
					<div style="margin-left: 40px;">
						<div style="padding-bottom: 40px;border-bottom: 1px solid pink;">
							<img style="width: 300px;height: 300px;" :src="i.picUrl">
						</div>
						<div style="border-bottom: 1px solid pink;line-height: 30px;height: 30px;">
							<span style="float: left;">歌曲</span>
							<span style="float: right;">歌手</span>
						</div>
						<div style="width: 800px;line-height: 30px;">
							<p v-for="ii in i.songList">{{ii.songname}}<span style="float: right;">{{ii.singername}}</span></p>
						</div>
					</div>
				</div>
			</div>
		</template>
		<template id="no3">
			<div>
				推荐歌单
			</div>
		</template>
		<template id="no4">
			<div>
				<p style="font-size: 24px;line-height: 40px;">歌手列表</p>
				<div style="padding-left: 30px;">
					<div v-for="i in arr" style="line-height: 30px;">
						{{i.Fsinger_name}}
					</div>
				</div>
			</div>
		</template>
		<template id="no5">
			<div>
				<div>
					<p style="font-size: 24px;">播放列表</p>
					<div v-for="i in arr" style="margin: 0 40px 0 40px;border-bottom: 1px solid black;line-height: 30px;cursor: pointer;"
					 @click="play">
						{{i}}
					</div>
				</div>
			</div>
		</template>
	</body>
	<script src="../vue.js" type="text/javascript" charset="utf-8"></script>
	<script src="../vue-router.js" type="text/javascript" charset="utf-8"></script>
	<script src="../vue-resource.js" type="text/javascript" charset="utf-8"></script>
	<script src="../jquery-3.2.1.min.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript">
		var bus = new Vue()

		var router = new VueRouter({
			routes: [{
					path: '/',
					redirect: '/no1'
				},
				{
					path: '/no1',
					component: {
						template: '#no1',
						data() {
							return {
								value: '',
								arr: '',
								type: false,
								hot: ''
							}
						},
						methods: {
							search() {
								this.type = true
								this.$http.jsonp('https://c.y.qq.com/soso/fcgi-bin/client_search_cp?g_tk=5381&p=1&n=20&w=' + this.value +
									'&format=jsonp&jsonpCallback=callback&loginUin=0&hostUin=0&inCharset=utf8&outCharset=utf-8&notice=0&platform=yqq&needNewCode=0&remoteplace=txt.yqq.song&t=0&aggr=1&cr=1&catZhida=1&flag_qc=0', {
										jsonpCallback: 'callback'
									}).then((data) => {
									console.log(data.data.data.song.list)
									this.arr = data.data.data.song.list
								})
							},
							btn(i) {
								this.value = i
								this.search()
							}
						},
						created() {
							this.$http.jsonp(
								'https://c.y.qq.com/splcloud/fcgi-bin/gethotkey.fcg?g_tk=5381&uin=0&format=jsonp&jsonpCallback=callback&inCharset=utf-8&outCharset=utf-8&notice=0&platform=h5&needNewCode=1&_=1513317614040', {
									jsonpCallback: 'callback'
								}).then((data) => {
								this.hot = data.data.data.hotkey.slice(0, 20)
							})
						}
					}
				},
				{
					path: '/no2',
					component: {
						template: '#no2',
						data() {
							return {
								arr: '',
								index: 0
							}
						},
						created() {
							this.$http.jsonp(
								'https://c.y.qq.com/v8/fcg-bin/fcg_myqq_toplist.fcg?g_tk=5381&uin=0&format=jsonp&jsonpCallback=callback&inCharset=utf-8&outCharset=utf-8&notice=0&platform=h5&needNewCode=1&_=1512554796112', {
									jsonpCallback: 'callback'
								}).then((data) => {
								console.log(data.data.data.topList)
								this.arr = data.data.data.topList
							})
						}
					}
				},
				{
					path: '/no3',
					component: {
						template: '#no3'
					}
				},
				{
					path: '/no4',
					component: {
						template: '#no4',
						data() {
							return {
								arr: ''
							}
						},
						created() {
							this.$http.jsonp(
								'https://c.y.qq.com/v8/fcg-bin/v8.fcg?channel=singer&page=list&key=all_all_all&pagesize=100&pagenum=1&g_tk=5381&jsonpCallback=callback&loginUin=0&hostUin=0&format=jsonp&inCharset=utf8&outCharset=utf-8&notice=0&platform=yqq&needNewCode=0', {
									jsonpCallback: 'callback'
								}).then((data) => {
								console.log(data.data.data.list)
								this.arr = data.data.data.list
							})
						}
					}
				},
				{
					path: '/no5/:songmid/:songname',
					component: {
						template: '#no5',
						data() {
							return {
								arr: [],
								songmid: '',
								key: ''
							}
						},
						methods: {
							play() {
								this.$http.jsonp(
									'https://c.y.qq.com/base/fcgi-bin/fcg_music_express_mobile3.fcg?g_tk=1278911659&hostUin=0&format=jsonp&callback=callback&inCharset=utf8&outCharset=utf-8&notice=0&platform=yqq&needNewCode=0&cid=205361747&uin=0&songmid=' +
									this.songmid + '&filename=C400' + this.songmid + '.m4a&guid=3655047200', {
										jsonpCallback: 'callback'
									}).then((data) => {
									console.log(data.data.data.items[0].vkey)
									this.key =
										`http://dl.stream.qqmusic.qq.com/${data.data.data.items[0].filename}?vkey=${data.data.data.items[0].vkey}&guid=3655047200&fromtag=66`
									var audio = document.querySelector('audio')
									audio.src = this.key
								})
							}
						},
						watch: {
							'$route.params'(a) {
								this.songmid = this.$route.params.songmid
								if (this.$route.params.songmid != 0 || this.$route.params.songname != 0) {
									this.arr.push(this.$route.params.songname)
									console.log(this.arr)
								}
							}
						},
						created() {
							if (this.$route.params.songmid != 0 || this.$route.params.songname != 0) {
								this.songmid = this.$route.params.songmid
								this.arr.push(this.$route.params.songname)
							}

						}
					}
				},
			]
		})

		new Vue({
			el: '#box',
			router,
			data: {
				oldmid: ''
			},
			directives: {
				active: function(dom) {
					dom.onclick = function() {
						$(this).addClass('active').siblings().removeClass()
					}
				}
			},
			watch: {
				'$route.path'(a, b) {
					var path = a.split('/')[1]
					var mid = a.split('/')[2]
					var name = a.split('/')[3]
					if (mid != 0 || name != 0) {
						if (path == 'no5' && mid && name) {
							if (this.oldmid == mid) {
								alert('已经在播放中了')
							} else {
								this.oldmid = mid
								this.$http.jsonp(
									'https://c.y.qq.com/base/fcgi-bin/fcg_music_express_mobile3.fcg?g_tk=1278911659&hostUin=0&format=jsonp&callback=callback&inCharset=utf8&outCharset=utf-8&notice=0&platform=yqq&needNewCode=0&cid=205361747&uin=0&songmid=' +
									mid + '&filename=C400' + mid + '.m4a&guid=3655047200', {
										jsonpCallback: 'callback'
									}).then((data) => {
									this.key =
										`http://dl.stream.qqmusic.qq.com/${data.data.data.items[0].filename}?vkey=${data.data.data.items[0].vkey}&guid=3655047200&fromtag=66`
									var audio = document.querySelector('audio')
									audio.src = this.key
								})
							}
						}
					}
				}
			}
		})
	</script>
</html>
