<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
	</head>
	<body>
		<div id="box">
			<div style="min-height: 40px;line-height: 40px;text-align: center;margin-bottom: 30px;background: #67B168;">
				{{$route.params.type}}
			</div>
			<div style="min-height: 100px;background: #CCCCCC;" @click="btn">
				<div style="line-height: 50px;border-bottom: 1px solid yellowgreen;">
					<a href="#"><span style="margin: 0 20px;">全部</span></a>
					<a href="#"><span style="margin: 0 20px;" v-for="i in type" @click="sort(i.name)">{{i.name}}</span></a>
				</div>
			</div>
			<div v-for="i in list" style="margin-top: 30px;border-top: 1px solid #CCCCCC;border-bottom: 1px solid #CCCCCC;">
				<div style="border: 1px solid papayawhip;padding: 10px;display: flex;height: 200px;">
					<div style="flex: 1;">
						<img style="width: 100%;height: 100%;" :src="i.cover">
					</div>
					<div style="flex: 4;padding-left: 20px;">
						<p>{{i.title}}</p>
						<p style="font-size: 12px;">{{i.author}}</p>
						<p style="height: 10%;overflow: hidden;">{{i.desc}}</p>
						<p><span style="font-size: 12px;color: purple;border: 1px solid black;margin: 0 5px;" v-for="ii in i.tags.split(',')">{{ii}}</span></p>
					</div>
				</div>
			</div>
		</div>
		
		<template id="no1">
			<div>
				no1
			</div>
		</template>
	</body>
	<script src="../vue.js" type="text/javascript" charset="utf-8"></script>
	<script src="../vue-resource.js" type="text/javascript" charset="utf-8"></script>
	<script src="../vue-router.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript">
		var router = new VueRouter({
			routes: [{
					path: '/',
					redirect: '/:type'
				},
				{
					path: '/:type',
					template: '#no1'
				}
			]
		})

		new Vue({
			el: '#box',
			data: {
				list: '',
				type: '',
			},
			methods: {
				btn() {
					this.$http.post('http://walden1.shuqireader.com/webapi/rank/classrelation?_=1571226579512', {
						type: 2,
						cid: 20,
						timestamp: 1571226579511,
						sign: '468030796ca152c80ba00fbc52d5fa25',
						shuqi_h5: '',
					}, {
						emulateJSON: true
					}).then((data) => {
						this.type = data.data.data.tag
					})
				},
				sort(i) {
					this.$http.get(
						'http://read.xiaoshuo1-sm.com/novel/i.php', {
							params: {
								do: 'is_caterank',
								p: 1,
								page: 1,
								words: '',
								shuqi_h5: '',
								onlyCpBooks: 1,
								tag: i,
								sort: 'monthHot',
								_: 1571237611345,
							}
						}).then((data) => {
						this.list = data.data.data
					})
				},
				ii() {
					this.$http.post('http://walden1.shuqireader.com/webapi/book/info/?_=1571238475042', {
						bookId: 6285227,
						user_id: 8000000,
						timestamp: 1571238475042,
						sign: '5d33ae237f067eb4cd07821c35f0c563',
						shuqi_h5: ''
					}, {
						emulateJSON: true
					}).then((data) => {
						console.log(data.data)
					})
				}
			},
			mounted() {
				this.$http.get(
					'http://read.xiaoshuo1-sm.com/novel/i.php', {
						params: {
							do: 'is_caterank',
							p: 1,
							page: 1,
							words: '',
							shuqi_h5: '',
							onlyCpBooks: 1,
							secondCate: '古代言情',
							sort: 'monthHot',
							_: 1571226579633
						}
					}).then((data) => {
					this.list = data.data.data
				})
				this.btn()
			},

		})
	</script>
</html>
